<head lang="en">
    <meta charset="UTF-8">
    <title>{$title}{$seo.web_title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="{$seo.web_key}">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/easyou.css"/>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script> 
    <script src="__PUBLIC__/js/jquery.pjax.js"></script>
    <script src="__PUBLIC__/js/easyou.js"></script>
</head>