
<div class="amz-banner  am-sans-serif am-center">

    <div class="amz-container am-scrollspy-init am-scrollspy-inview am-animation-scale-up" data-am-scrollspy="{animation: 'scale-up', repeat: false}">

        <h1><a href="__ROOT__/">{$seo.web_title}  {$seo.web_f_title}</a></h1>

    </div>            

    <div  class="am-g">

        <ul class="am-nav am-nav-tabs">

            <li><a href="__ROOT__/">首页</a></li>

            <li><a href="__ROOT__/mood">心情</a></li>

            <li><a href="__ROOT__/photo">相册</a></li>

            <li><a href="__ROOT__/about">关于</a></li>

            <li><a href="__ROOT__/contact">留言</a></li>
            <present name="user.id">
                <li><a href="#doc-oc-demo1" data-am-offcanvas>管理</a><li>
            </present>
        </ul>
    </div>
</div>
<script>
    var root = '__ROOT__';
</script>