<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>easyou后台管理</title>
  <meta name="description" content="easyou后台管理">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css"/>
  <link rel="stylesheet" href="__PUBLIC__/css/easyou.css">
  <script src="__PUBLIC__/js/jquery.min.js"></script>
  <script src="__PUBLIC__/js/amazeui.min.js"></script>
  <script src="__PUBLIC__/js/jquery.form.min.js"></script>
  <script src="__PUBLIC__/js/easyou.js"></script>
  <script>
      var root="__ROOT__";
  </script>
</head>