<!-- sidebar start -->
<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="__ROOT__/Admin"><span class="am-icon-home"></span> 首页</a></li>
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-bars"></span> 文章管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav">
                    <li><a href="__ROOT__/index.php/Admin/Content" class="am-cf"><span class="am-icon-edit"></span> 文章编辑<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                    <li><a href="__ROOT__/index.php/Admin/Content/lists"><span class="am-icon-tasks"></span> 文章列表</a></li>
                </ul>
            </li>
            <li><a href="__ROOT__/index.php/Admin/Category"><span class="am-icon-folder-open-o"></span> 分类管理</a></li>
            <li><a href="__ROOT__/index.php/Admin/Tag"><span class="am-icon-tablet"></span> 标签管理</a></li>
            <li><a href="__ROOT__/index.php/Admin/Moods"><span class="am-icon-heart-o"></span> 心情管理</a></li>
            <li><a href="__ROOT__/index.php/Admin/Comment"><span class="am-icon-comments-o"></span> 留言管理</a></li>
            <li><a href="__ROOT__/index.php/Admin/Photo"><span class="am-icon-image"></span> 相册管理</a></li>
            <li><a href="__ROOT__/index.php/Admin/Index/themes"><span class="am-icon-crosshairs"></span> 主题编辑</a></li>
            <li><a href="__ROOT__/index.php/Admin/Config"><span class="am-icon-gears"></span> 系统配置</a></li>
            <li><a href="__ROOT__/index.php/Admin/Log"><span class="am-icon-file-code-o"></span> 系统日志</a></li>
            <li><a href="__ROOT__/index.php/Admin/Login/logout"><span class="am-icon-sign-out"></span> 注销</a></li>
        </ul>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-bookmark"></span> 公告</p>
                <p>有问题请加入：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=48c3605abcc62d67e4023c91a95cbbfea7ce56e03eb900fa448e34babe3dd6c8"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="站长交流群" title="站长交流群"></a></p>
            </div>
        </div>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-tag"></span> wiki</p>
                <p><a target="_blank" href="http://www.eyblog.com">文档中心</a></p>
            </div>
        </div>
    </div>
</div>
<!-- sidebar end -->